<!DOCTYPE html>
<html lang="en">

<head>
  <title>Page Title</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>
<body>

  <!-- Note -->
  <div style="background:rgb(38, 96, 184);padding:5px">
    <h4 style="text-align:center">POC</h4>
  </div>

  <!-- Header -->
  <div class="header">
    <h1>Time Sheet Reminder</h1>
    <p>Welcome to <b>Demo Page</b>.</p>
  </div>

  <div class="navbar">
    <a href="#" onclick="setreminder();">Set Reminder</a>
    <a href="#" onclick="addemployee();">Add</a>
    <a href="#">Delete</a>
  </div>


  <div class="row">
    <div class="side">
      <h2>About POC</h2>
      <p>This application is used set reminders to the employees regading their Time Sheets.</p>
    </div>
    <div class="main">
      <section id="setreminder" style="display:none">
        <h2>Set Reminder</h2>
        <p>Search:
          <input type="text" name="search" placeholder="Enter ID/Name" />
        </p>
      </section>
      <section id="addemp" style="display:block">
        <form action="/add/employee" method="POST">
          <h2>Add New Employee</h2>
          <p>ID:
            <input type="number" name="id" placeholder="Portal ID" />
          </p>
          <p>Name:
            <input type="text" name="name" placeholder="Name" />
          </p>
          <p>Email:
            <input type="email" name="mail" placeholder="Email" />
          </p>
          <input type="submit" value="Add" />
        </form>
      </section>
    </div>
  </div>

  <div class="footer">
    <h2>Thank You</h2>
  </div>
  <script type="text/javascript">
    function setreminder() {
      document.getElementById('setreminder').style.display = 'block';
      document.getElementById('addemp').style.display = 'none';
    };
    function addemployee() {
      document.getElementById('setreminder').style.display = 'none';
      document.getElementById('addemp').style.display = 'block';
    };
  </script>
</body>

</html>